html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  font-family: arial, helvetica;
}

h3 {
  font-size: 5em;
  text-align: center;
  color: #fff;
  font-weight: 700;
}

#section1 {
  color: #fff;
}

.fp-section {
  text-align: center;
}
.fp-prev {
  border-color: transparent rgb(167, 173, 177) transparent transparent !important;
}
.fp-next {
  border-color: transparent transparent transparent rgb(167, 173, 177) !important;
}
button {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 8;
}
